.container{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 50px;
    border-radius: 15px;
    padding: 2rem;
    margin-left: 0px;
}

/* Styles for desktops and larger screens */
@media (min-width: 1200px) {
    /* Add your CSS rules for desktops here */
  
  }
  
  /* Styles for laptops */
  @media (min-width: 992px) and (max-width: 1199px) {

  }
  
  /* Styles for tablets */
  @media (min-width: 768px) and (max-width: 991px) {
   .container{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 50px;
    border-radius: 15px;
    height: 20rem;
    padding: 2rem;
    margin-left: 0px;
    width: 30rem;
   }
  }
  
  /* Styles for phones */
  @media (max-width: 767px) {
    /* Add your CSS rules for phones here */
    
  }