.trendsInnerValueEven {
  display: flex;
  background-color: #fff;
  /* border-radius: 5px 0px 0px 5px; */
  justify-content: space-around;
}

.trendsInnerValueOdd {
  display: flex;
  font-size: 0.9rem;
  /* border-radius: 5px 0px 0px 5px; */
  justify-content: space-around;
  background-color: #efefef;
}
.noDataFound {
  width: 100%;
  height: 100px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1.3rem;
  /* box-shadow: 0px 0px 50px #00000029; */
}
.trendsInnerValueTop {
  display: flex;
  background-color: #535252;
  /* border-radius: 5px 0px 0px 5px; */
  color: white;
  justify-content: space-around;
}

.trendsInnerDataTop {
  display: flex;
  padding-left: 3rem;
  min-width: fit-content;
  background-color: #535252;
  border-radius: 0px 5px 5px 0px;
  color: white;
  justify-content: "space-around"
}

.trendsInnerDataEven {
  display: flex;
  padding-left: 3rem;
  max-width: fit-content;
  justify-content: space-around;
  width: max-content;
  background-color: #efefef;
}

.trendsInnerDataOdd {
  display: flex;
  padding-left: 3rem;
  max-width: fit-content;
  justify-content: space-around;
  font-size: 0.9rem;
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
}
.insideMapData{
  margin:0.8rem;
  width:6rem;
  text-align:center;
}