.tableBody {
  border-bottom: 1px solid rgba(51, 51, 51, 0.137);
  padding: 1rem 1rem 1rem 0.5rem;
  display: grid;
  grid-template-columns: 28% 31% 27% 20% 19% 10%;
  font-size: 0.9rem;
}
.deviceSummary {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.upperData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background: 0% 0% no-repeat padding-box rgb(152, 0, 76);
  box-shadow: 0px 0px 50px #00000029;
  border-radius: 20px 20px 0px 0px;
  height: fit-content;
  padding: 1rem;
}
.UpperTextData {
  color: white;
}
.lowerData {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.insideTableBody {
  margin: 0.5rem;
  width: 7rem;
  text-align: center;
}
.adminbtn {
  margin-left: 13px;
  width: 5rem;
  background: rgb(152, 0, 76) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  border: 0px;
  padding: 6px;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: relative;
  top: 6rem;
  margin-left: 7%;
  width: 90%;
}
.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
.content {
  position: relative;
  max-width: 100%;
}
#noPopupData{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  flex-direction: column;
  opacity: 1;
  border-radius: 1rem;
  gap: 1rem;
  transition: 0.8s;
}
#popup {
  position: absolute;
  top: 50%;
  left: 50% ;
  transform: translate(-50%, -50%);
  width: 35%;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  flex-direction: column;
  opacity: 1;
  border-radius: 1rem;
  gap: 1rem;
  transition: 0.8s;
}
#popup > h2 {
  max-width: 100%;
  display: block;
  color: black;
}
.closebtn {
  align-items: end;
  display: flex;
  position: relative;
  justify-content: end;
  top: -2rem;
  left: 1rem;
}
.closeBtn {
  width: 2rem;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 25px;
  cursor: pointer;
}
.assignBtn {
  width: 5rem;
  height: 2rem;
  background: rgb(152, 0, 76) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 5px;
  color: #fff;
  border: 0px;
  margin: 10px;
}
.input_deviceID {
  display: flex;
  gap: 1rem;
}
.deviceIds {
  max-height: 100%;
  overflow-x: auto;
}
.popupData {
  max-height: 70%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.assignBtnClass {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 375px) and (max-width: 426px) {
  .container {
    margin-left: 13%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 374px) {
}
