.main {
  display: flex;
  overflow: hidden;
  opacity: 1;
  border: 0px;
  height: 60%;
  width: 40%;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 50px #0000006e;
  border-radius: 30px;
}
.forget {
  padding: 30px;
  width: 500px;
}
.LoginTitle {
  background-color: rgb(152, 0, 76);
}
.forget .headerText {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  padding: 12px;
  text-align: center;
}
.imputFields {
  display: flex;
  align-items: center;
  background-color: #fff !important;
  border: 1px solid rgba(141, 141, 141, 0.72);
  border-radius: 5px;
  padding: 12px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000029;
  border-radius: 15px;
  opacity: 1;
  border: 0px;
  gap: 10px;
}
.forget {
  align-items: center;
  border: solid rgb(226, 226, 226) 1px;
  border-radius: 15px;
  padding: 0px;
  width: 100%;
}
.forget .imputFields input {
  border: none !important;
  background: none !important;
}
.forget .imputFields svg {
  color: rgb(152, 0, 76);
} /*# sourceMappingURL=Forgetpassword.module.css.map */
.emailbtn {
  width: 40%;
  margin-top: 40px;
  padding: 8px;
  background-color: rgb(152, 0, 76);
  color: white;
  border: 0px;
  border-radius: 10px;
}
.heroSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.bottomSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
  align-items: center;
}
.inputusername {
  margin: 0 0 -0.5rem 4rem;
  font-size: small;
}
.imputFieldsError {
  display: flex;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding: 12px;
}
.innerText {
  text-align: center;
  color: gray;
  font-size: large;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 80%;
  }
  .heroSection {
    gap: 3rem;
  }
  .innerText {
    font-size: smaller;
  }
}
@media screen and (max-width: 768px){
  .main {
    width: 80%;
  }
  .heroSection {
    gap: 1rem;
  }
  .innerText {
    font-size: 10px;
  }
  .emailbtn{
    width: 60%;
  }
  .backLogin{
    font-size: small;
  }
  .heroSection{
    padding: 1rem;
  }
}