.insideOuterTable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background: 0% 0% no-repeat padding-box rgb(152, 0, 76);
    box-shadow: 0px 0px 50px #00000029;
    border-radius: 20px 20px 0px 0px;
    height: fit-content;
    padding: 1rem;
}
.insideOuterDataTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    height: fit-content;
    padding: 1rem;
}
.deviceDataText {
    display: grid;
    padding: 10px;
    grid-template-columns: 14% 14% 14% 14% 13% 12% 12% 6% 9%;
}

.deviceTextData {
    color: white;
}
.tableBody{
    display: flex;
    flex-direction: column;
   gap: 2rem;
    width: 100%;
    box-shadow: 0px 0px 50px #00000029;
    border-radius: 0px 0px 20px 20px;
    height: fit-content;
    padding: 1rem;
}
.insideTextData{
    margin: 0.8rem;
    width: 12rem;
    text-align: center;
    font-size: 0.8rem;
}
.rowSection{
    display: flex;
    gap: 3rem;
}
@media (min-width: 1200px) {

    /* Add your CSS rules for desktops here */
    .deviceDataText {
        display: grid;
        padding: 10px;
        grid-template-columns: 14% 14% 14% 14% 13% 10% 12% 6% 9%;
    }

    .alertTable .tableBody {
        grid-template-columns: 12% 14% 14% 14% 12% 10% 9% 8% 8%;
    }
}

/* Styles for laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .OuterTable {
        width: fit-content;
    }

    .tableCard {
        overflow-x: auto;
    }

    .insideTextData {
        margin: 0.8rem;
        width: 6rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .deviceTextData {
        font-size: 0.8rem;
    }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .OuterTable {
        width: fit-content;
    }

    .tableCard {
        overflow-x: auto;
    }

    .insideTextData {
        margin: 0.8rem;
        width: 6rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .deviceTextData {
        font-size: 0.8rem;
    }
}

/* Styles for phones */
@media (max-width: 767px) {

    /* Add your CSS rules for phones here */
    .OuterTable {
        width: fit-content;
    }

    .tableCard {
        overflow-x: auto;
    }

    .insideTextData {
        margin: 0.8rem;
        width: 6rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .deviceTextData {
        font-size: 0.8rem;
    }
}