.line_chart {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 30px #0000001a;
  border-radius: 15px;
  opacity: 1;
  width: 40rem;
  height: 22rem;
  padding: 1rem;
}
.doughnut_chart {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 30px #0000001a;
  border-radius: 15px;
  opacity: 1;
  width: 20rem;
  height: 22rem;
  padding: 1rem;
}
.chart_container {
  display: flex;
  gap: 5rem;
}
.lineChart_data {
  box-sizing: border-box;
  display: block;
  height: 19rem;
  width: 38rem;
}
.doughnut_data {
  box-sizing: border-box;
  display: block;
  height: 19rem;
  width: 38rem;
}
.graph_heading {
  display: flex;
  gap: 2rem;
}
.upper_div {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.select_details {
  word-wrap: normal;
  border: 0px;
  background: #cb297b 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #00000029;
  border-radius: 5px;
  opacity: 1;
  color: white;
  font-size: 0.8rem;
  padding: 4px;
}
