.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.loginImg {
  width: 100%;
  object-fit: cover;
}

.rightContainer {
  width: 50%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: cnter;
}
.userInputFiledPwrd {
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border-radius: 8px;
  border: 1px solid grey;
}
.inputField {
  padding: 13px;
  width: 70%;
  border-radius: 2px;
  border: 1px solid grey;
}
.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 20%;
  height: 2;
  padding: 15px;
  border-radius: 99px;
  border: 0px;
  background-color: rgb(203, 41, 123);
  color: white;
  font-size: 16px;
}
@media only screen and (min-width: 375px) and (max-width: 426px) {
  .container {
    flex-direction: column;
  }
  .loginImg {
    display: none;
  }
  .rightContainer {
    width: 100%;
  }
  .inputField {
    width: 100%;
  }
  .submitBtn{
    width: 100%;
    background-color: rgb(203, 41, 123);
  }
}

@media only screen and (min-width: 300px) and (max-width: 374px) {
  .container {
    flex-direction: column;
  }
  .loginImg {
    display: none;
  }
  .rightContainer {
    width: 100%;
  }
  .inputField {
    width: 100%;
  }
  .submitBtn{
    width: 100%;
    background-color: rgb(203, 41, 123);
  }
}
