.NavbarOuter {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.NavbarOuter .Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 0.3% 1%;
  box-shadow: 0px 0px 6px #00000029;
  background-color: #fff;
  opacity: 1;
}
.adminAvtar{
  width: 0rem;
  height: 3rem;
  
}
.NavbarOuter .AvatarSectionDropDown {
  background-color: #cb297b;
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 2rem;
}
.adminAvtar{
  background-color: #cb297b;
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 2rem;
}
.NavbarOuter .manageAccount {
  margin-top: 10px;
  width: 223px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  padding: 6px;
  cursor: pointer;
  color: #cb297b;
  box-shadow: 0px 0px 10px #00000029;
  border: 0.10000000149011612px solid #70707080;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.NavbarOuter .manageAccount:hover {
  background-color: #cb297b;
  color: #fff;
}
.NavbarOuter .logoutAccount {
  margin-bottom: 10px;
  width: 223px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  padding: 6px;
  cursor: pointer;color: #cb297b;
  box-shadow: 0px 0px 10px #00000029;
  border: 0.10000000149011612px solid #70707080;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.NavbarOuter .logoutAccount:hover {
  background-color: #cb297b;
  color: #fff;
  border: 1px solid #cb297b;
}
.NavbarOuter .privacyPolicy {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
  color: #cb297b;
} /*# sourceMappingURL=NavBar.module.css.map */
.updateEmailText{
  font-size: 1rem;
  color: #707070;
  text-align: center;
  font-size: 0.9rem;
  width: 15rem;
}
.UpdateNameText{
  font-size: 1.3rem;
  color: #707070;
}
@media (min-width: 1200px) {
  /* Add your CSS rules for desktops here */
  .adminAvtar{
    background-color: #cb297b;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 2rem;
  }
}

/* Styles for laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Add your CSS rules for laptops here */
  .adminAvtar{
    background-color: #cb297b;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 2rem;
  }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 991px) {
  /* Add your CSS rules for tablets here */
  .adminAvtar{
    background-color: #cb297b;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 2rem;
  }
}

/* Styles for phones */
@media (max-width: 767px) {
  /* Add your CSS rules for phones here */
  .adminAvtar{
    background-color: #cb297b;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 2rem;
  }
}
