@import "./veriables.module.scss";
.Login {
  padding: 30px;
  width: 500px;

  .headerText {
    font-size: 2rem;
    font-weight: 500;
    color: $active_text_color;
  }

  .imputFields {
    display: flex;
    align-items: center;
    background-color: #fff !important;
    border: $border;
    border-radius: 5px;
    padding: 5px;

    & span {
      margin-left: 5px;
    }

    & input {
      border: none !important;
      background-color: none !important;
    }

    & svg {
      color: $active_text_color;
    }
  }

  // input field error

  .imputFieldsError {
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
    & input {
      border: none !important;
      background: none !important;
    }

    & svg {
      color: $active_text_color;
    }
  }
}
