.Reset {
  width: 500px;
}
.Reset .headerText {
  font-size: 1.3rem;
  font-weight: 500;
}
.Reset .imputFields {
  display: flex;
  align-items: center;
  border: solid rgb(226, 226, 226) 1px;
  border-radius: 5px;
  padding: 5px;
}
.Reset .imputFields input {
  border: none !important;
  background: none !important;
}
.Reset .imputFields svg {
  color: rgb(152, 0, 76);
}
.Reset .OPTTIMR {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  display: flex;
  overflow: hidden;
  opacity: 1;
  border: 0px;
  height: 60%;
  justify-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 50px #0000006e;
  border-radius: 30px;
}
.LoginTitle {
  background-color: rgb(152, 0, 76);
}
.headerText {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  padding: 12px;
  text-align: center;
}
.emailbtn {
  width: 40%;
  margin-top: 40px;
  padding: 8px;
  background-color: rgb(152, 0, 76);
  color: white;
  border: 0px;
  border-radius: 10px;
}
.bottomSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
  align-items: center;
}
.heroSection {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
