.mainDiv {
  position: relative;
  top: 3.5rem;
  margin-left: 7%;
  width: 90%;
}

.topHeading {
  display: flex;
  flex-direction: column;
}

.deviceSummary {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backImage {
  width: 3rem;
}

.NavbarColumn {
  width: 100%;
}

.noDataFound {
  width: 100%;
  height: 100px;
  display: flex !important;
  justify-content: center !important;
  font-size: 1.3rem;
}

.insideOuterTable {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background: 0% 0% no-repeat padding-box rgb(152, 0, 76);
  box-shadow: 0px 0px 50px #00000029;
  border-radius: 20px 20px 0px 0px;
  height: fit-content;
  padding: "1rem";
}

.insideHeadingData {
  color: white;
  width: 6rem;
  text-align: center;
}

.userInsideData {
  text-align: center;
  width: 12rem;
  margin: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.8rem;
}

.heading {
  margin: auto;
  font-size: 1.9rem;
  color: #707070;
}

.viewBtn {
  width: 4rem;
  padding: 8px;
  border: 0px;
  color: white;
  background-color: rgb(152, 0, 76);
  border-radius: 10px;
}

.userDataDiv {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
}

.viewBtnDiv {
  text-align: center;
  margin: 0.8rem;
}