@import "../css/veriables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loader_three {
    border: 4px solid #fff;
    border-top: 4px solid $backgroundColor; /* Blue */
    border-left: 4px solid $backgroundColor; /* Blue */
    border-bottom: 4px solid $backgroundColor; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0.75);
  }
  100% {
    transform: rotate(360deg) scale(0.75);
  }
}
