@import "./veriables.module.scss";

.TrandsDataTable {
  display: flex;
  justify-content: space-between;

  & h4 {
    color: $h3colorText;
  }
  & p {
    font-size: 0.8rem;
  }

  .Outsection {
    display: flex;
    justify-content: space-between;

    & h4 {
      @include activeparaFontdasktopMixin;
    }
    & p {
      @include paraFontdasktopMixin;
    }
  }
}

.Trand {
  display: flex;
  justify-content: space-between;
  & h5 {
    @include activeparaFontdasktopMixin;
  }

  & p {
    @include paraFontdasktopMixin;
  }

  & section {
    display: flex;
  }
}
