.mainContainer {
    margin-top: 70px;
  }
  
  .OuterDiv {
    width: 100%;
    height: 100vh;
    align-items: center;
  }
  
  .SidebarLogTable {
    width: 100% !important;
    padding: 0px !important;
  }
  .main{
    /* display: flex; */
    overflow: hidden;
    /* background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255); */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 50px; */
    /* border: 0.1px solid rgb(165, 163, 163); */
    border-radius: 15px;
    opacity: 1;
    /* border: 0px; */
    height: 14rem;
    /* justify-content: space-between; */
    /* flex-direction: row; */
    width:100%;
    padding:30px;
    margin: 10px 0px;
    /* align-items:center; */
    gap: 3rem;
  }
  .userInfo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center !important;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .userInfo {
      width: 60%;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    .userInfo {
      width: 55%;
    }
  }
  @media screen and (min-width: 1400px) and (max-width: 1600px) {
    .userInfo {
      width: 50%;
    }
  }
  @media screen and (min-width: 1600px) and (max-width: 1920px) {
    .userInfo {
      width: 43%;
    }
  }
  .userInfo section {
    color: #e2e2e2;
  }
  .userInfo .Avtar {
    background-color: #e2e2e2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: rgb(152, 0, 76);
    font-weight: 700;
  }
  @media screen and (min-width: 300px) and (max-width: 1024px) {
    .userInfo .Avtar {
      width: 28px;
      height: 28px;
    }
  }
  
  .Avtarunder {
    background-color: rgb(152, 0, 76);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: rgb(152, 0, 76);
    font-weight: 700;
    font-size: 2rem;
    overflow: hidden;
  }
  .imputFields {
    display: flex;
    /* align-items: center; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    /* width: 15rem; */
    border: none;
    border-bottom: 1px solid black;
    /* box-shadow: 0px 0px 10px #00000029; */
  }
  .imputFields input {
    border: none !important;
    background: none !important;
  }
  .imputFields svg {
    color: gray;
  }
  .editImage {
    background-color: gray;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    color: #fff;
    cursor: pointer;
    z-index: 11;
  }
  .editImage input {
    cursor: pointer !important;
  }
  
  .buttonbackground {
    margin-top: 10px;
    display: flex;
    width: 70%;
    justify-content: center;
  }
  
  .imputFieldsError {
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 15px !important;
    padding: 5px;
  }
  .imputFieldsError input {
    border: none !important;
    background: none !important;
  }
  .imputFieldsError svg {
    color: rgb(152, 0, 76);
  }
  .updateBtn{
    padding: 10px 80px;
    border: 0px solid black;
    border-radius: 15px;
    background-color: rgb(152, 0, 76);
    color: white;
  }
  .card{
    gap: 1rem;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    color: rgb(112, 112, 112);
  }
  .mainOverview{
  
  }
  .insideoverview{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  /* Styles for desktops and larger screens */
  @media (min-width: 1200px) {
    /* Add your CSS rules for desktops here */
  
  }
  
  /* Styles for laptops */
  @media (min-width: 992px) and (max-width: 1199px) {
    .card{
      width: 50%;
    }
    .main{
      width: 90%;
    }
  }
  
  /* Styles for tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .insideoverview{
      flex-direction: column;
      gap: 1rem;
    }
    .card{
      width: 70%;
    }
    .main{
      width: 90%;
    }
  }
  
  /* Styles for phones */
  @media (max-width: 767px) {
    /* Add your CSS rules for phones here */
    .insideoverview{
      flex-direction: column;
      gap: 2rem;
    }
    .card{
      width: 80%;
    }
    .main{
      width: 145%;
    }
  }