@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: white !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px !important;
}

p {
  color: rgb(152, 0, 76);
}

span {
  color: rgb(152, 0, 76);
}

hr {
  height: 2px !important;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  /* margin-left: 2px; */
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 2px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: rgb(152, 0, 76);
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.btn {
  background-color: #fff !important;
  border: none !important;
}

.rowSection {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.colSection {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.page-item.active .page-link {
  background-color: rgb(152, 0, 76) !important;
  border: rgb(152, 0, 76) 1px solid !important;
}

input[type="checkbox"]:checked {
  background-color: rgb(152, 0, 76);
}

input[type="checkbox"]:checked:after {
  content: "\2713";
  color: white;
}

input[type="checkbox"] {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px !important;
  height: 20px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgb(152, 0, 76);
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.AppHeader{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AppFooter{
height: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0, 0, 0, 0.15);

}
.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white ;
}
.SideMenu{
  height: 100%;
}
.SideMenuVertical{
  height: 100%;
}
.PageContent{
  padding-left: 12px;
  display: flex;
  flex-direction:column;
  gap: 5rem;
}
.container{
  display: flex;
  /* width: 420px; */
  border-radius: 8px;
  position: relative;
  top:10%;
  row-gap: 30px;
  flex-direction: column;
}
.circular-progress{
position: relative;
height: 80px;
width: 80px;
border-radius: 50%;
background: conic-gradient(rgb(152, 0, 76) 280.6deg, #fff 0deg);
display: flex;
align-items: center;
justify-content: center;
}
.circular-progress::before{
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.progress-value{
  position: relative;
  font-size: 20px;
  font-weight: 500;
}

@media (orientation: landscape) {
  /* Adjust styles for landscape orientation here */
  body {
    font-size: 16px; /* Adjust the base font size if necessary */
  }
}